<div class="container">
    <div class="row">
        <div class="col-md-6" style="background-color:gray ;">
            <h1>This is parent component</h1>
            <p>Fruits (Data from Parent class to parent class) : <span style="color:#00f320">{{currentFruits}}</span>
            </p>
            <p>Fruits (Data Comming from child class to parent class) <span class="text-danger">Problem not solved</span></p>


            <h3>Sending data to child component</h3>
            <div>
                <label for="input">Enter Insects</label>
                <input type="text" name="input" id="input" #newInputData>
                <button (click)="addData(newInputData.value)"> Add </button>
            </div> <br>
            <ul>
                Animals from child component<span style="color: #007510">
                    <li *ngFor="let items of Animals">{{items}}</li>
                </span>
            </ul>


        </div>

        <div class="col-md-6" style="background-color:#a2a2a2 ;">
            <app-child [Fruits]="currentFruits" [addDatas]="currentData" (newAnimalsEvent)="addAnimals($event)">
            </app-child>
        </div>
    </div>
</div>